{% extends 'base.html' %}

{% block content %}
<h1>Добро пожаловать в FindEvent</h1>
        <p>FindEvent - это удобное приложение для поиска мероприятий в вашем городе. Независимо от того, ищете ли вы концерт, фестиваль, спортивное мероприятие или что-то еще, FindEvent поможет вам найти и запланировать вашу следующую активность.</p>
        <p>Основные функции FindEvent:</p>
        <p>Поиск мероприятий по категориям.</p>
        <p>Просмотр деталей мероприятия, включая дату, время и местоположение.</p>
        <p>Добавление мероприятий в ваш календарь для удобного отслеживания.</p>
        <p>Получение уведомлений о предстоящих мероприятиях.</p>
        <p>Не упустите ни одного интересного мероприятия - начните использовать FindEvent прямо сейчас!</p>
{% endblock %}