{% extends 'base.html' %}

{% block content %}

        <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                  <h1 class="fw-light">Добро пожаловать в FindEvent</h1>
                  <p class="lead text-body-secondary">FindEvent - это удобное приложение для поиска мероприятий в вашем городе. Независимо от того, ищете ли вы концерт, фестиваль, спортивное мероприятие или что-то еще, FindEvent поможет вам найти и запланировать вашу следующую активность.</p>
                  <p class="lead text-body-secondary">Основные функции FindEvent:</p>
                  <p class="lead text-body-secondary">Поиск мероприятий по категориям.</p>
                  <p class="lead text-body-secondary">Просмотр деталей мероприятия, включая дату, время и местоположение.</p>
                  <p class="lead text-body-secondary">Добавление мероприятий в ваш календарь для удобного отслеживания.</p>
                  <p class="lead text-body-secondary">Получение уведомлений о предстоящих мероприятиях.</p>
                  <p class="lead text-body-secondary">Не упустите ни одного интересного мероприятия - начните использовать FindEvent прямо сейчас!</p>
                  </div>
              </div>
{% endblock %}